.data_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 237, 230);;
}

.data_wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

